$white:#FFFFFF;

$RedHighlight: #eb526c;

$BlueMinded: #3867c1;

$Maroon6: #ff5c54;

$Orange2: #ffb370;

$GreyWater: #5C5F58;

$LighterGrey: #DCE1E3;

$Dark : #162849;

$Blacked : #21212e;



$bgcol :$LighterGrey;

$color-initial: $LighterGrey;
$color-primary: $BlueMinded;
$color-secondary: $RedHighlight;
$color-tertiary: $Maroon6;
$color-quaternary: $Blacked;
$color-quinary: $Dark ;
